<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Echiquier_de_Bezzel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Echiquier_de_Bezzel.Properties.Settings>
            <setting name="Couleur_Damier_A" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="Couleur_Damier_B" serializeAs="String">
                <value>DarkKhaki</value>
            </setting>
            <setting name="Couleur_toucherParUneReine" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="Couleur_TrajectoireReine_Tout_Afficher" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Couleur_TrajectoireReine" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TrajectoireReineCouleurDifférente" serializeAs="String">
                <value>False</value>
            </setting>
        </Echiquier_de_Bezzel.Properties.Settings>
    </userSettings>
</configuration>